<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colaboration</title>
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/src/public/css/styles.css">

</head>
<body>
    <main>
        <img src="../public/images/android-chrome-192x192.png" alt="">
    <h3>Welcome to the Collaboration App</h3>
    </main>

    <script src="/src/public/js/scripts.js"></script>
</body>
</html>

