* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html,
body,
main {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 
 justify-content: center;
 align-items: center;
}

main {
    display: flex;
    justify-content: space-evenly;
}
